<section>
    <h2>Colaboradores</h2>

    <div class="action-container">
        <button class="action-container__btn action-container__btn--main-action" [routerLink]="['cadastro']" >Cadastrar novo
            colaborador</button>
    </div>

    <table class="employees-clockin">
        <thead class="employees-clockin__thead">
            <tr class="employees-clockin__tr">
                <th class="employees-clockin__th">Código</th>
                <th class="employees-clockin__th">Nome</th>
                <th class="employees-clockin__th">Ocupação</th>
                <th class="employees-clockin__th">Admissão</th>
                <th class="employees-clockin__th">Carga horária diária</th>
                <th class="employees-clockin__th">Ações</th>
            </tr>
        </thead>
        <tbody class="employees-clockin__tbody">
            <tr class="employees-clockin__tr" *ngFor="let worker of workers">
                <td class="employees-clockin__td">{{worker.id}}</td>
                <td class="employees-clockin__td">{{worker.name}}</td>
                <td class="employees-clockin__td">{{worker.occupation}}</td>
                <td class="employees-clockin__td">{{worker.str_admissionDate}}</td>
                <td class="employees-clockin__td">{{worker.workingHours}}h</td>
                <td class="employees-clockin__td">
                    <a (click)="deleteWorker(worker)"><em class="fas fa-trash"></em></a>
                </td>
            </tr>
        </tbody>
    </table>

</section>