<section>
    <h2>Relatório de frequência</h2>

    <div class="form-line form-line--center">
        <div class="form-field">

            <label class="form-field__label form-field__label--center">Colaborador:</label>
            <select id="inform-worker-select" class="form-field__select" [(ngModel)]="id"
                (ngModelChange)="retrieveWorker(id)">
                <option id="inform-worker-0-option" [value]="0">Nenhum selecionado</option>
                <option id="inform-worker-{{id}}-option" *ngFor="let worker of workers; let i = index"
                    [value]="worker.id">{{worker.name}}</option>
            </select>
        </div>
        <div class="form-field">
            <label class="form-field__label form-field__label--center">Ano:</label>
            <input type="number" max="{{today.year()}}" min="2000" class="form-field__select" [(ngModel)]="year"
                (ngModelChange)="retrieveWorkDaysForMonth(month, year)">
        </div>
    </div>

    <section *ngIf="id == 0">
        <h2>Selecione um colaborador para exibir o relatório de ponto.</h2>
    </section>

    <section *ngIf="id > 0">
        <h2>{{worker.name}} - {{year}}</h2>
        <h4>(Data de admissão: {{worker.str_admissionDate}})</h4>

        <table class="employees-clockin">
            <thead class="employees-clockin__thead">
                <tr class="employees-clockin__tr">
                    <th class="employees-clockin__th">Mês de referência</th>
                    <th class="employees-clockin__th">Carga Horária</th>
                    <th class="employees-clockin__th">Horas trabalhadas</th>
                    <th class="employees-clockin__th">Horas faltas/extras</th>
                </tr>
            </thead>
            <tbody class="employees-clockin__tbody">
                <ng-container *ngFor="let month of months; let i = index">
                    <tr class="employees-clockin__tr" *ngIf="(year < today.year() || i <= today.month()) && worker.wereEmployedOnDate(i, year)">
                        <td class="employees-clockin__td">{{month}}</td>
                        <td class="employees-clockin__td">{{worker.getMontlyWorkingHours([i], year)}} h</td>
                        <td class="employees-clockin__td">{{worker.getMonthlyWorkedTimeStr([i], year)}}</td>
                        <td class="employees-clockin__td">{{worker.getMonthlyOvertimeStr([i], year)}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

    </section>

</section>