@import url("./assets/styles/normalizer.css");
@import url("./assets/icons/fontawesome-free-5.12.0-web/css/all.css");

/*
* STRUCTURAL PATTERN DECLARATIONS
*/

//Color patterns
//Change these variables to modify the application
$base-color: #ffffff;
$primary-color: #707070;
$secondary-color: #888888;
$tertiary-color: #00000029;

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
label {
  font-weight: normal;
  margin: 6px 0;
}

h1 {
  margin: 44px 25px 25px 25px;
  font-size: 20px;

  > strong {
    display: block;
    font-size: 40px;
  }
}

h2 {
  margin: 15px;
  font-size: 18px;
  color: $secondary-color;
  font-weight: bold;
}

h4 {
  margin: 24px;
  font-size: 14px;
}

button {
  padding: 11px 0px;
  border-radius: 4px;
  background-color: $base-color;
  font-size: 16px;
  border: solid 1px $primary-color;
  box-shadow: 0 1px 6px $tertiary-color;
  color: $secondary-color;

  &:not([disabled]) {
    cursor: pointer;
  }
}

header,
footer {
  padding: 25px;
  background-color: $primary-color;
  color: $base-color;
  font-size: 12px;
  text-align: center;
}

footer {
  margin-top: 25px;
  padding: 64px 10px 72px 10px;
}

nav {
  margin: 0;
  padding: 25px 0px;
  > a {
    @extend button;
    display: inline-block;
    padding: 11px 10px;
    margin: 0 20px;
    min-width: 160px;
    font-size: 14px;
  }
}

article,
section {
  padding: 25px 0px;
  color: $secondary-color;

  > h2 {
    margin: 0;
    padding: 25px 10px;
    text-align: center;
  }

  > h4 {
    margin: 0;
    padding: 20px 10px;
    text-align: center;
  }
}

/*
* BEM CUSTOM CSS DECLARATIONS
*/

.employees-clockin {
  display: flex;
  padding: 25px 8px;
  overflow-x: auto;
  flex-flow: column;
  border-collapse: collapse;

  &__thead {
    margin: auto;
  }

  &__tbody {
    margin: auto;
  }

  &__tr {
    flex: 1;
  }
  &__tr:nth-child(even) {
    background-color: $tertiary-color;
  }

  &__td,
  &__th {
    flex: 1;
    padding: 6px;
    min-width: 150px;
    text-align: center;
    flex-flow: row wrap;
  }
}

.workday-logs {
  display: flex;
  padding: 25px 8px;
  overflow-x: auto;
  flex-flow: column;
  border-collapse: collapse;

  &__thead {
    margin: auto;
  }

  &__tbody {
    max-width: 930px;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }

  &__tr{
    width: 100%;
    display: flex;
  }

  &__td {
    flex: 1;
    padding: 6px;
    min-width: 150px;
    text-align: center;
    flex-flow: row wrap;

    &--date-reference {
      background-color: $tertiary-color;
      text-align: left;
    }

    &--registered-time{
      text-align: left;
      margin: 20px;
      padding-left: 6px;
    }
  }

  &__h3 {
    font-weight: bolder;
    margin: 10px;
  }

  &__h1{
    margin: 10px;
  }
}

.main-container {
  min-height: 100vh;
}

.content {
  margin: 0 auto;
  max-width: 960px;
}

.action-container {
  display: flex;
  justify-content: center;

  &__btn {
    align-self: center;
    margin: 25px 0 90px 0;

    &--main-action {
      min-width: 260px;
    }
    &--disabled {
      opacity: 0.6;
    }
  }
}

.form-line {
  display: flex;
  flex-wrap: wrap;

  &--center {
    justify-content: center;
  }
}

.form-field {
  display: flex;
  margin: 20px;
  flex: 1;
  flex-flow: column;
  max-width: 330px;
  min-width: 200px;
  color: $secondary-color;

  &--same-line{
    flex-flow: wrap row;
  }

  &__label {
    width: 100%;
    display: block;
    font-size: 12px;

    &--center {
      align-self: center;
    }
  }
  &__input,
  &__select {
    display: block;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    border: 1px solid $primary-color;
    color: $secondary-color;

    &--group-within{
      height: 30px;
      margin: 6px 0px;
      flex: 1;
    }

  }

  &__btn{
    font-size: 12px;
    padding: 8px;

    &--group-end{
      height: 30px;
      border-left: 0;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    &--group-within{
      height: 30px;
      border-left: 0;
      border-radius: 0;
    }
  }


}
